@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#FFFEEE];
}

h1 {
  @apply text-secondary;
}

h2 {
  @apply text-secondary;
}

h3 {
  @apply text-secondary;
}

h4 {
  @apply text-secondary;
}

h5 {
  @apply text-secondary;
}

h6 {
  @apply text-secondary;
}

p {
  @apply text-secondary;
}

.text-stroke {
  text-shadow: -1px -1px 0 #1e1e1e, 1px -1px 0 #1e1e1e, -1px 1px 0 #1e1e1e,
    1px 1px 0 #1e1e1e;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
